@charset "UTF-8";

body {
	font-family: "Apple Chancery, cursive";
}

main {
	padding-top: 50px;
}

h1 {
font-size: 37px;
font-weight: 800;
letter-spacing: 2px;
font-family: 'Delius+Swash+Caps';
color: rgb(50,111,212);
}

main p {
	line-height: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	
}

img{
	margin: 30px;
	padding: 20px 40px 40px;
	max-width: 150px;
	text-align: left;
	
}
span {
	text-align: center;
}

.listItems {
	align: center;
	display: inline-block;
}

button {
	text-align: center;
}

.card {
	margin: 10px;
	padding: 40px 80px 80px;
	max-width: 300px;
	text-align: center;
	background: #ffe81e;
	border-bottom: 4px solid #f97e04;
	border-radius: 6px;
	color: #6a13f5;
}

.card:
hover {
	border-color: #470000;
}